@model IEnumerable<Joole.Models.tblProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeL_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Application)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mounting_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accessories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Air_Flow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power_Min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power_Max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operating_Voltage_Min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operating_Voltage_Max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fan_Speed_Min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fan_Speed_Max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Of_Fan_Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sound_At_Max_Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fan_Sweep_Diameter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height_Min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height_Max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document_Path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeL_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mounting_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accessories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Air_Flow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power_Min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power_Max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operating_Voltage_Min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operating_Voltage_Max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fan_Speed_Min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fan_Speed_Max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Of_Fan_Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sound_At_Max_Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fan_Sweep_Diameter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height_Min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height_Max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document_Path)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product_ID })
        </td>
    </tr>
}

</table>
