@model JooleWebApplication.Models.tblProduct

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="~/css/iconfont.css">
<link rel="stylesheet" href="~/css/style.css"/>
<style>
    html, body {
        margin: 0;
        padding: 0
    }

    .description {
        position: absolute;
        left: 0;
        width: 50%;
        top: 100px;
    }

    .type {
        position: absolute;
        left: 0;
        width: 50%;
        top: 245px
    }

    .technicalspecifications {
        position: absolute;
        right: 0;
        width: 50%;
        top: 100px;
    }

    table {
        margin: 100px;
        /*   border: 15px ; */
        /* padding: 50px; */
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

        td:nth-child(odd) {
            width: 200px;
            background-color: #dddddd;
        }

</style>

<div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }) |*@
    @Html.ActionLink("Product Summary", "Index")&nbsp
    @Html.ActionLink("Product Details", "Index")&nbsp
    @Html.ActionLink("Product Document", "Index")&nbsp
    @Html.ActionLink("Contact", "Index")
</div>

<h3 style="color:royalblue; text-align:left">Product Summary</h3>
<table class="description">
    <tr>
        <th colspan="2">Description</th>
    </tr>
    <tr>
        <td>Manufacture</td>
        <td>@Html.DisplayFor(model => model.Product_Name)</td>
    </tr>
    <tr>
        <td>Seris</td>
        <td>@Html.DisplayFor(model => model.Series)</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>@Html.DisplayFor(model => model.Model)</td>
    </tr>
</table>
<table class="type">
    <tr>
        <th colspan="2">Type</th>
    </tr>
    <tr>
        <td>Use Type</td>
        <td>@Html.DisplayFor(model => model.Type)</td>
    </tr>
    <tr>
        <td>Application</td>
        <td>@Html.DisplayFor(model => model.Application)</td>
    </tr>
    <tr>
        <td>Mounting Location</td>
        <td>@Html.DisplayFor(model => model.Mounting_Location)</td>
    </tr>
    <tr>
        <td>Accessories</td>
        <td>@Html.DisplayFor(model => model.Accessories)</td>
    </tr>
    <tr>
        <td>Model Year</td>
        <td>@Html.DisplayFor(model => model.ModeL_Year)</td>
    </tr>
</table>
<table class="technicalspecifications">
    <tr>
        <th colspan="5">Technical Specifications</th>
    </tr>
    <tr>
        <td>Air Flow (CFM)</td>
        <td colspan="4">@Html.DisplayFor(model => model.Air_Flow)</td>
    </tr>
    <tr>
        <td>Power (W)</td>
        <td>Min</td>
        <td>@Html.DisplayFor(model => model.Power_Min)</td>
        <td>Max</td>
        <td>@Html.DisplayFor(model => model.Power_Max)</td>
    </tr>
    <tr>
        <td>Operating Voltage (VAC)</td>
        <td>Min</td>
        <td>@Html.DisplayFor(model => model.Operating_Voltage_Min)</td>
        <td>Max</td>
        <td>@Html.DisplayFor(model => model.Power_Max)</td>
    </tr>
    <tr>
        <td>Fan Speed (RPM)</td>
        <td>Min</td>
        <td>@Html.DisplayFor(model => model.Fan_Speed_Min)</td>
        <td>Max</td>
        <td>@Html.DisplayFor(model => model.Fan_Speed_Max)</td>

    </tr>
    <tr>
        <td>Number of fan speeds</td>
        <td colspan="4">@Html.DisplayFor(model => model.Number_Of_Fan_Speed)</td>

    </tr>
    <tr>
        <td>Sound at max speed (dBA)</td>
        <td colspan="4">@Html.DisplayFor(model => model.Sound_At_Max_Speed)</td>

    </tr>
    <tr>
        <td>Fan sweep diameter (in)</td>
        <td colspan="4">@Html.DisplayFor(model => model.Fan_Sweep_Diameter)</td>
    </tr>
    <tr>
        <td>Height (in)</td>
        <td>Min</td>
        <td>@Html.DisplayFor(model => model.Height_Min)</td>
        <td>Max</td>
        <td>@Html.DisplayFor(model => model.Height_Max)</td>
    </tr>
    <tr>
        <td>Weight (lbs)</td>
        <td colspan="4">@Html.DisplayFor(model => model.Weight)</td>
    </tr>
</table>