@using Joole_Application.Models
@*@model IEnumerable<Joole_Application.Models.tblProduct>*@
@{
    List<tblProduct> list = ViewBag.list;
    //List<tblProduct> list = ViewBag.list;
    List<tblProduct> list1 = ViewBag.list1;
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<div class="body">
    <div class="left">
        <div class="search_button">
            <label>Search: </label>
            <button id="save">Save</button>
            <button id="clear">Clear</button>
        </div>
        <div class="proj_prod">
            <div class="product">Product</div>
            <div class="project">Project</div>
        </div>
        <div class="prod_type">
            <div class=prod_type_arrow><label id="productType">Product Type:</label><img src="~/images/dropdown_arrow.png" id="drop-down"></div>
            <div class="prodtype_list">
                <ul>
                    <li><a href="#">xiaomi</a></li>
                    <li><a href="#">iphone</a></li>
                    <li><a href="#">iwatch</a></li>
                    <li><a href="#">Huawei</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">BB</a></li>
                </ul>
            </div>
        </div>
        <div id="model_y">
            <label id="modelYear">Model Year:</label>
            <input type="number" id="startYear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" id="endYear">
        </div>
        <div class="technical_specifications">
            <div class="technical"><label id="technical_speci">Techinical Specifications:</label><img src="~/images/dropdown_arrow.png" id="drop-down2"></div>
            <div class="technical_list">
                <div class="airflow">
                    <img src="~/images/updown4.png" class="updown">&nbsp;&nbsp; Airflow(CFM)
                    <div class="whole_container">
                        <div class="container">
                            <div class="min-value numberVal1">
                                <input type="number" min="0" max="10000" value="2500" disabled>
                            </div>
                            &nbsp;
                            <div class="range-slider1">
                                <div class="progress"></div>
                                <input type="range" class="range-min" min="0" max="10000" value="2500">
                                <input type="range" class="range-max" min="0" max="10000" value="7500">
                            </div>
                            &nbsp;
                            <div class="max-value numberVal1">
                                <input type="number" min="0" max="10000" value="7500" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MaxPower">
                    <img src="~/images/updown4.png" class="updown">&nbsp;&nbsp; Max Power(W)
                    <div class="whole_container">
                        <div class="container">
                            <div class="min-value numberVal2">
                                <input type="number" min="0" max="25" value="7" disabled>
                            </div>
                            &nbsp;
                            <div class="range-slider2">
                                <div class="progress"></div>
                                <input type="range" class="range-min" min="0" max="25" value="7">
                                <input type="range" class="range-max" min="0" max="25" value="20">
                            </div>
                            &nbsp;
                            <div class="max-value numberVal2">
                                <input type="number" min="0" max="25" value="20" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Soundspeed">
                    <img src="~/images/updown4.png" class="updown">&nbsp;&nbsp;Sound at max speed(dBA)
                    <div class="whole_container">
                        <div class="container">
                            <div class="min-value numberVal3">
                                <input type="number" min="0" max="50" value="12" disabled>
                            </div>
                            &nbsp;
                            <div class="range-slider3">
                                <div class="progress"></div>
                                <input type="range" class="range-min" min="0" max="50" value="12">
                                <input type="range" class="range-max" min="0" max="50" value="40">
                            </div>
                            &nbsp;
                            <div class="max-value numberVal3">
                                <input type="number" min="0" max="50" value="40" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Fansweep">
                    <img src="~/images/updown4.png" class="updown">&nbsp;&nbsp; Fan sweep dimension(in)
                    <div class="whole_container">
                        <div class="container">
                            <div class="min-value numberVal4">
                                <input type="number" min="0" max="100" value="25" disabled>
                            </div>
                            &nbsp;
                            <div class="range-slider4">
                                <div class="progress"></div>
                                <input type="range" class="range-min" min="0" max="100" value="25">
                                <input type="range" class="range-max" min="0" max="100" value="75">
                            </div>
                            &nbsp;
                            <div class="max-value numberVal4">
                                <input type="number" min="0" max="100" value="75" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="script.js"></script>
            </div>
        </div>
    </div>
    <div class="right">
        <h3 id="item_name">HVAC Fans</h3>
        <div class=" items">
            @if (list1.Count() == 0)
            {
                <p>No match!</p>
            }
            else
            {
                foreach (var item in list1)
                {
                    <div class="item">
                        <img class="fans" src="@item.Product_Image" alt="fans-image" />
                        <div class="information">
                            <p>@item.Product_Name</p>
                            <p>@item.Series</p>
                            <p>@item.Model</p>
                        </div>
                        <div class="features">
                            <p>@item.Air_Flow CFM</p>
                            <p>@item.Power_Max W at max speed</p>
                            <p>@item.Sound_At_Max_Speed dBA at max speed</p>
                            <p>@item.Fan_Sweep_Diameter fan sweep diameter</p>
                        </div>
                        <div class="item-footer">
                            <div class="compare"><input type="checkbox">Compare</div>
                            <button class="add">Add to</button>
                        </div>
                    </div>
                }
            }
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/script.js"></script>

