@model IEnumerable<JooleWebApplication.Models.tblProject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Postal_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser.User_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Postal_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.User_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Project_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Project_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Project_ID })
        </td>
    </tr>
}

</table>
