@using Joole_Application.Models


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joole - @ViewBag.Title</title>
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <div class="wrap header-box">
            <img class="logo-image" src="~/images/logo2.png">
            <div class="search">
                <div class="container">
                    <div class="form">
                        <input type="text" class="keyword" placeholder="Search...">
                        <button id="icon">
                            <span class="iconfont">&#xe63d;</span>
                        </button>
                        <div id="user">
                            @if (Session["login"] == null)
                             {
                             <span>
                                 @Html.ActionLink("Login", "login", "Account")
                                 @Html.ActionLink("Register", "register", "Account")
                             </span>
                            }
                            else
                            {
                            //从session中获取登陆的用户名
                            string uname = ((tblUser)Session["login"]).User_Name;
                            string uimage = ((tblUser)Session["login"]).User_Image;
                            <img id ="userimage" src="@uimage" alt="user-image">
                            }
                        </div>
                        <div class="search-helper"></div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>
